/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

/* My code */
body {
  width: 100vw;
  height: 100vh;
}

ul {
  list-style: none;
}

.body {
  width: inherit;
  height: inherit;
  background-color: #1a1a1a;

  display: grid;
  grid-template-columns: minmax(250px, 300px) minmax(350px, 1fr);
}
.sidebar {
  color: #ecfdf5;
  font-weight: bold;
  font-size: 20px;
  padding: 40px 20px;

  background-color: #065f46;
}
.logo-container,
.nav-icon {
  display: inline;
  vertical-align: middle;
}
.user-pfp,
.header-icon,
.logo-container > img,
.nav-icon > img {
  display: inline-block;
  width: 32px;
}

.search-section {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo-container > img,
.nav-icon > img {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}
input {
  background-color: #34d399;
  border: none;
  border-radius: 50px;
  height: 80%;
  width: clamp(250px, 1000px, 80%);
}
.logo-container > h1 {
  display: inline-block;
}
.logo-container > img {
  padding-left: auto;
  width: 42px;
}
.main-section {
  display: grid;
  grid-template-columns: 3fr minmax(300px, 350px);
  grid-template-rows: minmax(50px, 200px) 50px 2fr;
  background-color: #e4e4e7;
}
.header {
  display: grid;
  grid-template-columns: 3fr minmax(100px, 2fr);
  grid-template-rows: 50px 1fr;
  padding: 20px 40px;

  background-color: #a7f3d0;
  grid-column: 1 / span 2;
  grid-row: 1;
}
.header + h1 {
  grid-column: 1;
}
.actions-section {
  display: flex;
  justify-content: space-around;
}
.actions-section > button {
  background-color: #065f46;
  color: #ecfdf5;
  font-size: clamp(16px, 15ch, 20px);
  font-weight: bold;
  align-self: center;
  height: 40%;
  width: 15ch;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  margin-left: 12px;
}
.cards-container {
  grid-row: 3;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-template-rows: minmax(200px, 300px);
  grid-auto-rows: minmax(200px, 300px);
  gap: 15px;

  justify-content: center;
}
.card {
  background-color: purple;
  width: 1fr;
  max-height: 300px;
}
.content-sidebar {
  padding-top: 20px;
  grid-column: 2;
  grid-row: 3;
  background-color: #d3c0d3;
}
.annoucements-container {
  padding: 24px 16px;
  background-color: #6ab21e;
}
.trending-title {
  padding-top: 24px;
}

ul {
  padding: 0px;
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
.nav,
.nav.support {
  margin-top: 32px;
}

li:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.hero-section {
  display: grid;
  grid-template-columns: 90px 1fr;
  grid-template-rows: repeat(2, 50px);

  font-weight: bold;
}

.hero-pfp {
  align-self: center;
  width: 90px;
  grid-column: 1;
  grid-row: 1 / span 2;
}
.user-at,
.welcome {
  margin-left: 16px;
}
.user-at {
  font-size: 24px;
}
.user-section {
  display: grid;
  grid-template-columns: 50px 60px 1fr;
  align-items: center;

  gap: 20px;
}
.user-section > .pfp {
  width: 60px;
}
.pfp,
.user-name {
  align-self: left;
}
.user-name {
  font-size: 20px;
  font-weight: bold;
}
.welcome {
  align-self: end;
  font-size: 18px;
}
