/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

/* My code */
body {
  width: 100vw;
  height: 100vh;
}

ul {
  list-style: none;
}

.body {
  width: inherit;
  height: inherit;
  background-color: #1a1a1a;

  display: grid;
  grid-template-columns: minmax(250px, 300px) minmax(350px, 1fr);
}
.sidebar {
  color: #ecfdf5;
  font-weight: bold;
  font-size: 20px;
  padding: 40px 20px;

  background-color: #065f46;
}
.logo-container,
.nav-icon {
  display: inline;
  vertical-align: middle;
}
.logo-container > img,
.nav-icon > img {
  -webkit-filter: invert(100%);
  filter: invert(100%);
  display: inline-block;
  width: 32px;
}
.logo-container > h1 {
  display: inline-block;
}
.logo-container > img {
  padding-left: auto;
  width: 42px;
}
.main-section {
  display: grid;
  grid-template-columns: 3fr minmax(300px, 350px);
  grid-template-rows: minmax(100px, 200px) 50px 2fr;
  background-color: #02ac1e;
}
.header {
  display: grid;
  grid-template-columns: 3fr minmax(100px, 2fr);

  background-color: #71771e;
  grid-column: 1 / span 2;
  grid-row: 1;
}
.header + h1 {
  grid-column: 1;
}
.actions-section {
  justify-content: space-around;
}
.cards-container {
  grid-row: 3;
  padding: 20px;
  background-color: #fed024;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-template-rows: minmax(200px, 300px);
  grid-auto-rows: minmax(200px, 300px);
  gap: 15px;

  justify-content: center;
}
.card {
  background-color: purple;
  width: 1fr;
  max-height: 300px;
}
.content-sidebar {
  padding-top: 20px;
  grid-column: 2;
  grid-row: 3;
  background-color: #d3c0d3;
}
.annoucements-container {
  padding: 24px 16px;
  background-color: #6ab21e;
}
.trending-title {
  padding-top: 24px;
}

ul {
  padding: 0px;
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
.nav,
.nav.support {
  margin-top: 32px;
}

li:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
